---
import { Image } from '@astrojs/image/components'
import { formatDate, slugify } from '../js/utils'
import Link from './Link.astro'

const { frontmatter, url, tagType } = Astro.props

const Tag = tagType

const { title, description, date, category, author, image } = frontmatter
---

<!-- <pre>{JSON.stringify(post.frontmatter, null, 2)}</pre> -->
<article class="container">
  <small><a href={`/category/${slugify(category)}`} class="badge">{category}</a></small>
  <a href={url} tabindex="-1">
    <Image
      src={image.src}
      width={400}
      height={250}
      alt={image.alt}
      format="webp"
      fit="cover"
      quality={80}
      aspectRatio={'4:1'}
    />
  </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <small>by <a href={`/author/${slugify(author)}`}>{author}</a>· {formatDate(date)}</small>
    </div>
    <p>{description}</p>

    <Link  href={url} text='Read Post' style="secondary" />
  </div>
</article>
