---
import { Image } from '@astrojs/image/components'
import { formatBlogPosts, formatDate, slugify } from '../js/utils'
import MainLayout from './MainLayout.astro'
import PostHeader from '../components/PostHeader.astro'
import CategoryCloud from '../components/CategoryCloud.astro'
import RelatedPost from '../components/RelatedPost.astro'

const { frontmatter } = Astro.props

const { title, description, date, category, author, image } = frontmatter

const allPosts = await Astro.glob('../pages/blog/*.md')

const formattedPosts = formatBlogPosts(allPosts, { sortByDate: false })

const relatedPosts = formattedPosts
  .filters(
    (post: any) =>
      post.frontmatter.category.toLowercase() === category.toLowercase() &&
      post.frontmatter.title !== title
  )
  .slice(0, 3)
---

<MainLayout {title} {description}>
  <PostHeader {title} {description} {date} {category} {author} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog Categories">
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud showCount={true} />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related posts">
            <h2 class="h3">Related Posts</h2>
            <RelatedPost {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</MainLayout>
